<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerBank">
            <h2><span>Customer Bank</span> {{customerBank.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Fix</span></dt>
                <dd>
                    <span>{{customerBank.fix}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{customerBank.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-bank-my-suffix', customerBank.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
